@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i';

body {
	color: #333;
/*	background-color: #EFF2F6;
*/	font-family: "Open Sans", sans-serif;
	margin-top: 0;
	background-image: url(/images/bg1.png);
	background-size: 100%;
}

a {
	color: inherit;
/*	text-decoration: none;
	border-bottom: 2px solid rgba(255,255,255,0.5);*/
}

.links a, .text-list a {
	border-bottom: 2px solid rgba(65, 135, 250, 0.5);
	text-decoration: none;
}

h1 {
	text-align: center;
}

section {
	margin: 3em auto;
	width: 90%;
}

@media screen and (max-width: 600px) {
	section {
		margin: 1.5em auto;
	}
	#blurb {
		font-size: small;
	}
}

section.normal {
	max-width: 800px;
}

section.skinny {
	width: 80%;
	max-width: 600px;
}

section.twopane {
	display: table;
}

section.twopane > div {
	display: table-cell;
	vertical-align: middle;
}

.grid {
	text-align: center;
}

.grid > div {
	text-align: left;
}

section.x-skinny {
	width: 80%;
	max-width: 500px;
	text-align: center;
	opacity: 0.5;
}

h3 {
	text-transform: uppercase;
}

/*@media screen and (max-width: 600px) {
	h3 {
		transform: translate(-20px, 0px) skewY(-15deg);
	}
}
*/
@media screen and (min-width: 600px) {
	.grid > div {
		vertical-align: top;
		display: inline-block;
		width: 47%;
	}
	.grid > div:nth-child(odd) {
		margin-right: 5%;
	}
}

.grid img {
	max-width: 100%;
}

#name {
	margin-top: 0;
}

#name img {
	width: 70vw;
	max-width: 400px;
	margin-top: 2em;
}

#bio img {
	width: 10vw;
}

#bio > div:last-child {
	padding-left: 10px;
	padding-bottom: 1.5em;
	opacity: 0.8;
}

.pop {
	position: relative;
	transition: transform 0.3s cubic-bezier(.12,.02,.38,1);
}

.pop:before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	bottom: 5px;
	background-color: black;
	box-shadow: 0px 7px 17px black;
	opacity: 0.2;
	transition: opacity 0.3s cubic-bezier(.12,.02,.38,1);
}

.pop:hover {
	transform: scale(1.07);
	z-index: 10;
}

.pop:hover:before {
	opacity: 0.5;
}

.pop img {
	position: relative;
	z-index: 10;
}

#portfolio h4, #portfolio p {
	margin: 0;
	opacity: 0.7;
	font-size: small;
}

#portfolio h4 {
	text-transform: uppercase;
	margin-top: 0.5em;
}

#portfolio p {
	margin-bottom: 2em;
}

#apps > div {
	display: inline-block;
	text-align: center;
	margin-right: 0.5em;
}

#apps a {
	text-decoration: none;
	color: inherit;
}

#apps p {
	font-size: small;
	margin: 0.5em;
	opacity: 0.7;
}

#apps .pop:before {
	border-radius: 18px;
}

#apps img {
	width: 110px;
	border-radius: 18px;
}

.text-list {
	padding: 0;
	list-style-type: none;
}

.text-list p {
	opacity: 0.7;
}

#contact .fa {
	display: inline-block;
	font-size: 40px;
	margin-right: 0.5em;
}
