@import 'https://fonts.googleapis.com/css?family=Merriweather';
@import 'https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i';

#instagrade {
	font-family: "Lato", sans-serif;
}

#instagrade blockquote {
	font-family: 'Merriweather', 'Georgia', serif;
}
#instagrade .cta {
	background-color: #0ca5b0;
}